{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

<div class="wrapper site-min-height">
    <!-- page start-->
    <div class="chat-room mt">
        <div class="col-lg-10">
            <aside class="mid-side">
                <div class="chat-room-head">
                    <h3>Profil</h3>
                    <div class="col-md-4 centered">
                        <div class="profile-pic">
                            <p><img src="{{ asset('uploads/images/' ~ app.user.getPhoto) }}"></p>

                        </div>
                    </div>
                </div>
                <div class="group-rom">
                    <div class="first-part odd">votre mot de passe</div>
                    <div class="second-part">{{ form_widget(form.current_password) }}</div>

                </div>
                <div class="group-rom">
                    <div class="first-part odd">nouveau mot de passe <br> confirmer</div>
                    <div class="second-part">{{ form_widget(form.plainPassword) }}</div>

                </div>


                <div class="group-rom last-group">
                    <div class="row justify-content-center">


                        <div class="col-lg-3">
                            <button type="submit" class="btn btn-danger btn-theme03 btn-lg mb-1 mx-auto z-depth-5 btn-rounded " value="{{ 'change_password.submit'|trans }}"class= text-white title="Modifier">
                                <i class="fa fa-key" aria-hidden="true"></i> Modifier</button>
                        </div>

                        <div class="col-lg-3">
                            <button type="button" class="btn btn-danger btn-primary  btn-lg mb-1 mx-auto z-depth-5 btn-rounded ">
                                <a href="{{ path('fos_user_profile_show') }}"class= text-white title="Annuler"><i class="fa fa-ban"></i>Annuler </a></button>
                        </div>

                    </div>

                </div>


</aside>





    <div>

    </div>
        </div>
{{ form_end(form) }}
