{% extends 'base.html.twig' %}

{% block title %}Edit DossierMedical{% endblock %}
{% block body %}







    <div class="wrapper site-min-height">
        <!-- page start-->
        <div class="chat-room mt">
            <div class="col-lg-12">
                <aside class="mid-side">
                    <div class="chat-room-head">
                        {{ form_start(form  , {'action': path('dossier_medical_edit', {'id': dossier_medical.id})}) }}

                        <h3>Nouveau Dossier</h3>

                    </div>


                    <div class="group-rom">
                        <div class="first-part odd">Allergies <span class="text-danger">*</span></div>

                        <div class="second-part"> {{ form_widget(form.allergies, {'attr':{'class':'form-control',  'placeholder': " Allergies "}}) }}</div>
                    </div>


                    <div class="group-rom">
                        <div class="first-part odd">Description d'Allergies</div>
                        <div class="second-part">  {{ form_widget(form.description_allergies, {'attr':{'class':'form-control',  'placeholder': " Description d'allergie"}}) }}</div>
                    </div>

                    <div class="group-rom">
                        <div class="first-part odd">Vaccinin <span class="text-danger">*</span></div>
                        <div class="second-part">  {{ form_widget(form.vaccinin, {'attr':{'class':'form-control',  'placeholder': "vaccinin"}}) }}</div>

                    </div>
                    <div class="group-rom">
                        <div class="first-part odd">Description de vaccinin</div>
                        <div class="second-part">  {{ form_widget(form.description_vaccinin, {'attr':{'class':'form-control',  'placeholder': " Description de vaccinin"}}) }}</div>
                    </div>

                    <div class="group-rom">
                        <div class="first-part odd">Taille <span class="text-danger">*</span></div>
                        <div class="second-part">{{ form_widget(form.taille, {'attr':{'class':'form-control',  'placeholder': "taille"}}) }}</div>
                    </div>
                    <div class="group-rom">
                        <div class="first-part odd">Poids <span class="text-danger">*</span> </div>
                        <div class="second-part">  {{ form_widget(form.poids, {'attr':{'class':'form-control',  'placeholder': " Poids"}}) }}</div>
                    </div>
                    <div class="group-rom">
                        <div class="first-part odd">Abtitude </div>
                        <div class="second-part">  {{ form_widget(form.habitude, {'attr':{'class':'form-control',  'placeholder': " Abtitude"}}) }}</div>
                    </div>

                    <div class="group-rom">
                        <div class="first-part odd"> Tratitements Longues Duree</div>
                        <div class="second-part">  {{ form_widget(form.tratitements_longues_duree, {'attr':{'class':'form-control',  'placeholder': "Tratitements Longues Duree "}}) }}</div>
                    </div>
                    <div class="group-rom">
                        <div class="first-part odd">Frequence <span class="text-danger">*</span></div>
                        <div class="second-part">  {{ form_widget(form.frequence, {'attr':{'class':'form-control',  'placeholder': " Frequence"}}) }}</div>
                    </div>
                    <div class="group-rom">
                        <div class="first-part odd">Matricule de salarie <span class="text-danger">*</span></div>

                        <div class="second-part">  {{ form_widget(form.ID_S, {'attr':{'class':'form-control'}}) }}</div>
                    </div>
                    <div class="group-rom ">
                        <div class="row justify-content-center">
                            <div class="col-lg-3">
                                <br>
                                <button type="submit" class="btn btn-success btn-lg mb-1 mx-auto z-depth-5 btn-rounded " value="{{ button_label|default }}"class= text-white title="Modifier">
                                    <i class="fa fa-check"></i> Modifier </button>




                            </div>

                            <div class="col-lg-3">
                                <br>
                                <button type="button" class="btn btn-danger btn-primary  btn-lg mb-1 mx-auto z-depth-5 btn-rounded ">
                                    <a href="{{ path('dossier_medical_index') }}"class= text-white title="Annuler"><i class="fa fa-ban"></i>Annuler </a></button>
                            </div>

                        </div>

                    </div>
                </aside>

            </div>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
