{% extends 'base.html.twig' %}

{% block title %} rhse index{% endblock %}

{% block body %}




    <div class="row mt">
        <div class="col-md-12">

            <div class="content-panel">
                <table class="table table-striped table-advance table-hover">

                    <div class="chat-room-head ">

                        <h2><i class="fa fa-angle-right"></i> liste des rhse</h2>


                    </div>

                    <br>
                    <div class="col-lg-1">
                        <button type="button" class="btn btn-primary btn-success btn-lg color-block mb-2 mx-12 z-depth-1 btn-rounded">
                            <a href="{{ path('rhse_new') }}" ><i class="text-white fa fa-user-md">  RHSE </i> </a></button>
                    </div>

                    <thead>
                    <tr>
                        <th scope="col-6">nom</th>
                        <th scope="col-6">prenom</th>
                        <th scope="col-6">adress</th>
                        <th scope="col-6">tel</th>
                        <th scope="col-6">Email</th>
                        <th scope="col-6">Photo</th>
                        <th scope="col-6">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rhse in rhse %}
                        <tr>
                        <td>{{ rhse.user }}</td>
                        <td>{{ rhse.user.getPrenom }}</td>
                        <td>{{ rhse.user.getAdress}}</td>
                        <td>{{ rhse.user.getTel}}</td>
                        <td>{{ rhse.user.getEmail }}</td>
                        <td><img src="{{ asset('uploads/images/' ~ rhse.user.getPhoto) }}" class="centre" width="120" height="90"></td>

                        <td>
                            <div class="row mt">

                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <div class="col-lg-1">
                                            <button type="button"class="btn btn-theme02">

                                                <a href="{{ path('rhse_show', {'id': rhse.id}) }}" title="Affichier" ><i class="text-white fa fa-info-circle "></i> </a></button>


                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-1">
                                            <button type="button"class="btn btn-info">
                                                <a href="{{ path('rhse_edit', {'id': rhse.id}) }}"title="Modifier" ><i class="text-white fa fa-pencil "></i></a></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </td>


                    {% else %}
                        <tr>
                            <td colspan="9">no records found</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
                {{ knp_pagination_render(rhse) }}
            </div>

            <!-- /content-panel -->
        </div>
        <!-- /col-md-12 -->
    </div>

{% endblock %}