


{% extends 'base.html.twig' %}

{% block title %}Salarie{% endblock %}

{% block body %}

    <div class="wrapper site-min-height">
        <!-- page start-->
        <div class="chat-room mt">
            <div class="col-lg-12">
                <aside class="mid-side">
                    <div class="chat-room-head">
                        <h3>Profil</h3>

                        <div class="col-md-4 centered">
                            <div class="profile-pic">
                                <p><img src="{{ asset('uploads/images/' ~ rhse.user.getPhoto) }}"></p>

                            </div>

                        </div>

                    </div>

                    <div class="group-rom">
                        <div class="first-part odd">id</div>
                        <div class="second-part">{{ rhse.id }}</div>

                    </div>

                    <div class="group-rom">
                        <div class="first-part odd">User name</div>
                        <div class="second-part">{{ rhse.user.getUsername }}</div>

                    </div>

                    <div class="group-rom">
                        <div class="first-part odd">Nom</div>
                        <div class="second-part">{{ rhse.user.getNom}}</div>

                    </div>

                    <div class="group-rom">
                        <div class="first-part odd">Prenom</div>
                        <div class="second-part">{{ rhse.user.getPrenom}}}</div>

                    </div>
                    <div class="group-rom">
                        <div class="first-part odd">numéro de téléphone <i class="fa fa-phone" aria-hidden="true"></i></div>
                        <div class="second-part">{{ rhse.user.gettel}}</div>
                    </div>

                    <div class="group-rom">
                        <div class="first-part odd">Adress  <i class="fa fa-home" aria-hidden="true"></i></div>
                        <div class="second-part">{{ rhse.user.getAdress}}</div>
                    </div>
                    <div class="group-rom">
                        <div class="first-part odd">Date de naissance  <i class="fa fa-birthday-cake" aria-hidden="true"></i></div>
                        <div class="second-part">{{ rhse.user.dateDeNaissance ? rhse.user.dateDeNaissance|date('Y-m-d') : '' }}</div>
                    </div>

                    <div class="group-rom">
                        <div class="first-part odd">Email <i class="fa fa-birthday-cake" aria-hidden="true"></i></div>
                        <div class="second-part">{{ rhse.user.getEmail}}</div>
                    </div>

                    <div class="group-rom ">
                        <div class="row justify-content-center">
                            <div class="col-lg-3">
                                {{ include('rhse/_delete_form.html.twig') }}


                            </div>

                            <div class="col-lg-3">
                                <button type="button" class="btn btn-dark btn-primary  btn-lg mb-1 mx-auto z-depth-5 btn-rounded ">
                                    <a href="{{ path('rhse_index') }}"class= text-white title="retour a la liste"><i class="fa fa-reply"></i> Retour a la liste </a></button>
                            </div>

                        </div>

                    </div>

                </aside>

            </div>
        </div>
    </div>



{% endblock %}

