{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}



<div class="wrapper site-min-height">
    <!-- page start-->
    <div class="chat-room mt">
        <div class="col-lg-10">
            <aside class="mid-side">
                <div class="chat-room-head">
                    <h3>Profil</h3>

                    <div class="col-md-4 centered">

                        <div class="profile-pic">
                            <p><img src="{{ asset('uploads/images/' ~ app.user.getPhoto) }}"></p>

                        </div>

                    </div>
                </div>
                <div class="group-rom">
                    <div class="first-part odd">User Name</div>
                    <div class="second-part">{{ form_widget(form.username) }}</div>

                </div>
                <div class="group-rom">
                    <div class="first-part odd">Nom</div>
                    <div class="second-part">{{ form_widget(form.nom) }}</div>

                </div>
                <div class="group-rom">
                    <div class="first-part odd">prenom</div>
                    <div class="second-part">{{ form_widget(form.prenom) }}</div>

                </div>

                <div class="group-rom">
                    <div class="first-part odd">Email</div>
                    <div class="second-part">{{ form_widget(form.email) }}</div>

                </div>
                <div class="group-rom">
                    <div class="first-part odd">numéro de téléphone<i class="fa fa-phone" aria-hidden="true"></i></div>
                    <div class="second-part">{{ form_widget(form.tel) }}</div>

                </div>
                <div class="group-rom">
                    <div class="first-part odd">adress<i class="fa fa-home" aria-hidden="true"></i></div>
                    <div class="second-part">{{ form_widget(form.adress) }}</div>

                </div>
                <div class="group-rom">
                    <div class="first-part odd">Date de naissance<i class="fa fa-birthday-cake" aria-hidden="true"></i></div>
                    <div class="second-part">{{ form_widget(form.date_de_naissance) }}</div>

                </div>

                <div class="group-rom">
                    <div class="first-part odd">mot de passe</div>
                    <div class="second-part">{{ form_widget(form. current_password, {'attr': {'placeholder': 'votre mot de passe'}}) }}</div>

                </div>



                {%  if is_granted('ROLE_MEDECIN') %}
                    <div class="group-rom last-group">
                        <div class="first-part odd">rôle </div>
                        <div class="second-part"><i class="fa fa-user-md" aria-hidden="true"></i>   medecin</div>
                    </div>
                {%  elseif is_granted('ROLE_RHSE') %}
                    <div class="group-rom last-group">
                        <div class="first-part odd">rôle </div>
                        <div class="second-part">responsable hygiène sécurité environnement </div>
                    </div>
                {%  elseif is_granted('ROLE_RE') %}
                    <div class="group-rom last-group">
                        <div class="first-part odd">rôle </div>
                        <div class="second-part">responsable de l'entreprise</div>
                    </div>
                {%  elseif is_granted('ROLE_ADMIN') %}
                    <div class="group-rom last-group">
                        <div class="first-part odd">rôle </div>
                        <div class="second-part">Admin</div>
                    </div>
                {%  endif %}
                <div class="group-rom last-group">
                <div class="row justify-content-center">
                        <div class="col-lg-3">
                        <button type="submit" class="btn btn-success btn-lg mb-1 mx-auto z-depth-5 btn-rounded " value="{{ 'profile.edit.submit'|trans }}"class= text-white title="Modifier">
                            <i class="fa fa-check"></i> Modifier</button>
                    </div>
                    <div class="col-lg-4">
                        <button type="button" class="btn btn-danger btn-theme03 btn-lg mb-1 mx-auto z-depth-5 btn-rounded ">
                            <a  href="{{ path('fos_user_change_password') }}"class= text-white title="changer mot_de_passe"><i class="fa fa-key" aria-hidden="true"></i>changer_mot_de_passe</a></button>
                    </div>
                        <div class="col-lg-3">
                        <button type="button" class="btn btn-danger btn-primary  btn-lg mb-1 mx-auto z-depth-5 btn-rounded ">
                            <a href="{{ path('fos_user_profile_show') }}"class= text-white title="Annuler"><i class="fa fa-ban"></i>Annuler </a></button>
                        </div>

                    </div>

                </div>

            </aside>






</div>
</div>
{{ form_end(form) }}

