{% trans_default_domain 'FOSUserBundle' %}




    <div class="wrapper site-min-height">
        <!-- page start-->
        <div class="chat-room mt">
            <div class="col-lg-10">
            <aside class="mid-side">
                <div class="chat-room-head">

                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <h3>Profil</h3></div>
                    <div class="col-sm-offset-10">
                    <button>  <a href="{{ path('fos_user_profile_edit') }}"  title="Modifier "><i class="fa fa-pencil text-theme02">Modifier</i> </a>
                    </button>
                    </div>

                    </div>
                    <div class="col-md-4 centered">
                        <div class="profile-pic">
                            <p><img src="{{ asset('uploads/images/' ~ app.user.getPhoto) }}"></p>

                        </div>
                    </div>
                </div>
                <div class="group-rom">
                    <div class="first-part odd">User Name</div>
                    <div class="second-part">{{ user.username }}</div>

                </div>

                <div class="group-rom">
                    <div class="first-part odd">Nom</div>
                    <div class="second-part">{{ user.nom }}</div>

                </div>

                <div class="group-rom">
                    <div class="first-part odd">Prenom</div>
                    <div class="second-part">{{ user.prenom }}</div>

                </div>
                <div class="group-rom">
                    <div class="first-part odd">numéro de téléphone <i class="fa fa-phone" aria-hidden="true"></i></div>
                    <div class="second-part">{{ user.tel}}</div>
                </div>
                <div class="group-rom">
                    <div class="first-part odd">Email  <i class="fa fa-envelope-o"> </i></div>
                    <div class="second-part">{{ user.email}}</div>
                </div>
                <div class="group-rom">
                    <div class="first-part odd">Adress  <i class="fa fa-home" aria-hidden="true"></i></div>
                    <div class="second-part">{{ user.adress }}</div>
                </div>
                <div class="group-rom">
                    <div class="first-part odd">Date de naissance  <i class="fa fa-birthday-cake" aria-hidden="true"></i></div>
                    <div class="second-part">{{ user.dateDeNaissance ? user.dateDeNaissance|date('Y-m-d') : '' }}</div>
                </div>
                {%  if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="group-rom last-group">
                        <div class="first-part odd">rôle </div>
                        <div class="second-part">Admin</div>
                    </div>
                {%  elseif is_granted('ROLE_RHSE') %}
                    <div class="group-rom last-group">
                        <div class="first-part odd">rôle </div>
                        <div class="second-part">responsable hygiène sécurité environnement </div>
                    </div>
                {%  elseif is_granted('ROLE_RE') %}
                    <div class="group-rom last-group">
                        <div class="first-part odd">rôle </div>
                        <div class="second-part">responsable de l'entreprise</div>
                    </div>
                {%  elseif is_granted('ROLE_MEDECIN') %}

                    <div class="group-rom last-group">
                        <div class="first-part odd">rôle </div>
                        <div class="second-part"><i class="fa fa-user-md" aria-hidden="true"></i>   medecin</div>
                    </div>
                {%  endif %}



            </aside>


        </div>
        </div>
    </div>


