{% extends 'base.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block body %}

    <div class="wrapper site-min-height">
        <!-- page start-->
        <div class="chat-room mt">
            <div class="col-lg-12">
                <aside class="mid-side">

                    <div class="chat-room-head">
                        <div class="col-lg-10">
                            <h3>l'entreprise {{entreprise.nom }}</h3>
                        </div>


                        <div class="col-md-4 centered">
                            <div class="profile-pic">
                                <p><img src="{{ asset('uploads/images/' ~ entreprise.logo) }}"></p>



                            </div>

                        </div>


                    </div>



                    <div class="group-rom">
                        <div class="first-part odd">Nom</div>
                        <div class="second-part">{{entreprise.nom }}</div>

                    </div>

                    <div class="group-rom">
                        <div class="first-part odd">fax<i class="fa fa-fax" aria-hidden="true"></i></div>
                        <div class="second-part">{{ entreprise.fax}}</div>

                    </div>
                    <div class="group-rom">
                        <div class="first-part odd">numéro de téléphone <i class="fa fa-phone" aria-hidden="true"></i></div>
                        <div class="second-part">{{ entreprise.tel}}</div>
                    </div>

                    <div class="group-rom">
                        <div class="first-part odd">Adress  <i class="fa fa-home" aria-hidden="true"></i></div>
                        <div class="second-part">{{ entreprise.adress }}</div>
                    </div>

                    <div class="group-rom">
                        <div class="first-part odd">Email <i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                        <div class="second-part">{{ entreprise.email }}</div>
                    </div>
                    <div class="group-rom">
                        <div class="first-part odd">NUM TVA </div>
                        <div class="second-part">{{ entreprise.numtva }}</div>
                    </div>
                    <div class="group-rom">
                        <div class="first-part odd">personne contact  <i class="fa fa-user-circle" aria-hidden="true"></i></div>
                        <div class="second-part">{{ entreprise.personneContact }}</div>
                    </div>
                    <div class="group-rom ">
                        <div class="row justify-content-center">
                            <div class="col-lg-3">
                                {{ include('entreprise/_delete_form.html.twig') }}


                            </div>

                            <div class="col-lg-3">
                                <button type="button" class="btn btn-dark btn-primary  btn-lg mb-1 mx-auto z-depth-5 btn-rounded ">
                                    <a href="{{ path('entreprise_index') }}"class= text-white title="retour a la liste"><i class="fa fa-reply"></i> Retour a la liste </a></button>
                            </div>

                        </div>

                    </div>

                </aside>

            </div>
        </div>
    </div>



{% endblock %}

