<div class="wrapper site-min-height">
    <!-- page start-->
    <div class="chat-room mt">
        <div class="col-lg-12">
            <aside class="mid-side">
                <div class="chat-room-head">
                    {{ form_start(form ) }}
<div class="centered">
                    <br>
                    <h2>Nouveau Risque</h2>
                    <br>
</div>
                </div>




                <div class="group-rom">
                    <div class="first-part odd">Type <span class="text-danger">*</span></div>
                    <div class="second-part"> {{ form_widget(form.type, {'attr':{'class':'form-control',  'placeholder': "le type de risque"}}) }}</div>

                </div>


                <div class="group-rom">
                    <div class="first-part odd">Description <span class="text-danger">*</span></div>
                    <div class="second-part">  {{ form_widget(form.description, {'attr':{'class':'form-control',  'placeholder': "Description"}}) }}</div>
                </div>





                <div class="group-rom ">
                    <div class="row justify-content-center">
                        <div class="col-lg-3">
                            <br>   <br><br>
                            <button type="submit" class="btn btn-success btn-lg mb-1 mx-auto z-depth-5 btn-rounded " value="{{ button_label|default }}"class= text-white title="Ajouter">
                                <i class="fa fa-check"></i> Ajouter </button>
:



                        </div>

                        <div class="col-lg-3">
                            <br>   <br> <br>
                            <button type="button" class="btn btn-danger btn-primary  btn-lg mb-1 mx-auto z-depth-5 btn-rounded ">
                                <a href="{{ path('risque_index') }}"class= text-white title="Annuler"><i class="fa fa-ban"></i>Annuler </a></button>
                        </div>

                    </div>

                </div>
            </aside>

        </div>
    </div>
</div>

{{ form_end(form) }}


