{% extends 'base.html.twig' %}

{% block title %}re{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="p-1 mb-4 alert alert-info"><h6><i class="text-info fa fa-user"></i>     responsable de l'entreprise  </h6></div>


                    <table class="table" border ="1" bordercolor="#454545">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ re.id }}</td>
                        </tr>
                        <tr>
                            <th>nom de responsable </th>
                            <td>{{ re.user.getUsername }}</td>
                        </tr>
                        <tr>
                            <th>prenom</th>
                            <td>{{ re.user.getPrenom }}</td>
                        </tr>
                        <tr>
                            <th>Email </th>
                            <td>{{ re.user.getEmail}}</td>
                        </tr>

                        <tr>
                            <th>adress</th>
                            <td>{{ re.user.getAdress}}</td>
                        </tr>

                        <tr>
                            <th>tel</th>
                            <td>{{ re.user.getTel}}</td>
                        </tr>

                        <tr>
                            <th>type d'abonnement</th>
                            <td>{{ re.getTypeAbonnement}}</td>
                        </tr>
                        <tr>
                            <th>contrat</th>
                            <td>{{ re.getContrat}}</td>
                        </tr>


                        </tbody>
                    </table>
                    <div class="col-lg-12">
                        <div class="row justify-content-center">

                            <button type="button" class="btn btn-primary  btn-warning color-block mb-3 mx-auto z-depth-1 btn-rounded">
                                <a href="{{ path('re_edit', {'id': re.id}) }}}" class="text-white"><i class="icon-note menu-icon"></i> Modifier</a></button>
                            {{ include('re/_delete_form.html.twig') }}

                            <button type="button" class="btn btn-primary btn-dark color-block mb-3 mx-auto z-depth-1 btn-rounded ">
                                <a href="{{ path('re_index') }}" class="text-white"><i class="icon-grid menu-icon"></i> Retour à la liste</a></button>
                        </div>
                    </div>








                </div>
            </div>
        </div>
    </div>
{% endblock %}


