{% extends 'base.html.twig' %}

{% block title %}Evaluation index{% endblock %}

{% block body %}
    <h1>Evaluation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>

                <th>Freqance</th>
                <th>Evaluation</th>
                <th>ID_PT</th>
                <th>ID_R</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evaluation in evaluations %}
            <tr>
                <td>{{ evaluation.id }}</td>

                <td>{{ evaluation.freqance }}</td>
                <td>{{ evaluation.evaluation }}</td>
                <td>{{ evaluation.IDPT }}</td>
                <td>{{ evaluation.IDR }}</td>
                <td>
                    <a href="{{ path('evaluation_show', {'id': evaluation.id}) }}">show</a>
                    <a href="{{ path('evaluation_edit', {'id': evaluation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evaluation_new') }}">Create new</a>
{% endblock %}
