


{% extends 'base.html.twig' %}

{% block title %}Accident{% endblock %}

{% block body %}

    <div class="wrapper site-min-height">
        <!-- page start-->
        <div class="chat-room mt">
            <div class="col-lg-12">
                <aside class="mid-side">
                    <div class="chat-room-head">
                        <div class="centered">

                        <h2>Accident</h2>

                        </div>
                    </div>


                    <div class="group-rom">
                        <div class="first-part odd">id</div>
                        <div class="second-part">{{ accident.id }}</div>

                    </div>



                    <div class="group-rom">
                        <div class="first-part odd">Refrence</div>
                        <div class="second-part">{{accident.ref }}</div>

                    </div>
                    <div class="group-rom">
                        <div class="first-part odd">Date Heure de l'accident</div>
                        <div class="second-part">{{ accident.dateheureAccident ? accident.dateheureAccident|date('Y-m-d H:i:s') : '' }}</div>
                    </div>


                    <div class="group-rom">
                        <div class="first-part odd">lieu <i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        <div class="second-part">{{accident.lieu}}</div>

                    </div>
                    <div class="group-rom">
                        <div class="first-part odd"> etablissement <i class="fa fa-home" aria-hidden="true"></i></div>
                        <div class="second-part">{{ accident.etablissement}}</div>
                    </div>

                    <div class="group-rom">
                        <div class="first-part odd">Cause <i class="fa fa-exclamation-circle" aria-hidden="true"></i></div>
                        <div class="second-part">{{ accident.cause}}</div>
                    </div>

                    <div class="group-rom">
                        <div class="first-part odd">Description <i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                        <div class="second-part">{{ accident.description }}</div>

                    </div>


                    <div class="group-row">
                        <div class="form-group">
                            <div class="pull-right col-lg-3">
                                <br>
                                <button type="button" class="btn btn-primary  btn-dark btn-lg color-block mb-1 mx-auto z-depth-1 btn-rounded ">
                                    <a href="{{ path('accident_index') }}" class="text-white" title="retour à la liste"><i class="fa fa-reply"></i> Retour a la liste</a></button>

                            </div>

                        </div>
                    </div>

                </aside>

            </div>

        </div>

    </div>



{% endblock %}

