
<div class="wrapper site-min-height">
    <!-- page start-->
    <div class="chat-room mt">
        <div class="col-lg-12">
            <aside class="mid-side">



                <div class="chat-room">
                    {{ form_start(form ) }}
                    <table class="table table-bordered" >
                        <tr>
                            <td rowspan="2"><img  class="centre" width="120" height="90" src="{{asset ('theme/img/logo.jpg')}}" alt="Enquete d'un Accident/incident de travail"> </td>
                            <td rowspan="3" >
                                <br><br>
                                <div class=" text-center profile-text">
                                    <h3>Enquete d'un Accident/incident de travail </h3>
                                </div>
                            </td>
                            <td>indice <span class="text-danger">*</span>{{ form_widget(form.indice, {'attr':{'class':'form-control',  'placeholder': "Indice"}}) }}</td>
                        </tr>
                        <tr>
                            <td> Date <i class="mdi mdi-calendar-check"> {{ form_widget(form.dateheure_declaration)}} </i>
                            </td>
                        </tr>
                    </table>
                </div>
                <br>
                <div class="chat-room">
                    <div class="row justify-content-center">
                        <div>

                            <span class="label label-theme text-center">NOTE!</span>
                            <span>  important : l'enquete doit etre renseignée dans les 24 h qui quivent l'accident de travail</span>
                        </div>
                        <div>
                            <span class="label label-theme text-center">NOTE!</span>
                            <span> Si l’accident a fait d’autres victimes remplir un nouvel imprimé pour les autres victimes agents territoriaux</span>
                        </div>
                    </div>
                </div>

                <br>
                <div class="basic-form">
                    </br>
                    <div colspan="4"class="alert alert-primary text-center ">Travailleur victime <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="example">
                                <label  class="col-lg-6 col-form-label"> Matricule de VICTIME :<i class="mdi mdi-calendar-check"></i> <span class="text-danger">*</span></label>
                                {{ form_widget(form.id_s)}}
                            </div>
                        </div>
                    </div>

                    <br>
                    <div colspan="4"class="alert alert-primary text-center "></div>
                    <br>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="example">
                                <label class="col-lg-6 col-form-label">  refrence de l'accident: <span class="text-danger">*</span></label>
                                {{ form_widget(form2.ref, {'attr':{  'placeholder': "refrence de l'accident"}})}}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="example">
                                <label class="col-lg-6 col-form-label">lieu<i class="mdi mdi-calendar-check"> </i> <span class="text-danger">*</span></label>
                                {{ form_widget(form2.lieu, {'attr':{ 'placeholder': "lieu"}})}}
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group col-md-6">
                        <div class="example">
                            <label class="col-lg-6 col-form-label">  etablissement <span class="text-danger">*</span></label>
                            {{ form_widget(form2.etablissement)}}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="example">
                            <label  class="col-lg-6 col-form-label"> date heure de l'accident:<i class="fa fa-calendar-check-o" aria-hidden="true"></i> <span class="text-danger">*</span></label>
                            {{ form_widget(form2.dateheure_accident)}}
                        </div>
                    </div>
                </div>
                <br>

                <br>

                <div colspan="4"class="alert alert-primary text-center ">Arrêt de travail</div>

                <br>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="example">
                            <label  class="col-lg-4 col-form-label">Date , heure:<i class="mdi mdi-calendar-check"></i> <span class="text-danger">*</span></label>
                            {{ form_widget(form.date_arret)}}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="example">
                            <label class="col-lg-6 col-form-label">Date prévue :<i class="mdi mdi-calendar-check"> <span class="text-danger">*</span></i></label>
                            {{ form_widget(form.date_prevue)}}
                        </div>
                    </div>

                </div>

                <br>
                <div colspan="4"class="alert alert-primary text-center ">Premiers soins</div>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="example">
                            <label  class="col-lg-6 col-form-label"></label>
                            {{ form_widget(form.premier_soins)}}
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        {{ form_widget(form.date_premier_soins)}}
                    </div>
                </div>

                <br>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="example">
                            <div colspan="4"class="alert alert-danger text-center ">Nature des lésions et EPI porté(s) au moment de l’accident </div>
                        </div>
                        </br>
                        <span class="label label-danger text-center">NOTE!</span>
                        <span class="text-danger"> Pour sélectionner multiple choix (Il faut maintenez la touche Maj enfoncée pour en sélectionner plusieurs):</span>
                    </div>
                    <br>
                    <div class="form-group col-md-6">
                        <div class="example">
                            <label class="col-lg-4 col-form-label">Nature lesion:</label>
                            {{ form_widget(form.nature_lesion)}}
                        </div>
                    </div>


                    <div class="form-group col-md-6">
                        <div class="example">
                            <label class="col-lg-3 col-form-label">Equipement:</label>
                            {{ form_widget(form.equipement)}}
                        </div>
                    </div>

                </div>
                </br>

                <div class="form-group col-md-12">
                    <div class="example">
                        <div colspan="4"class="alert alert-danger text-center ">Sièges des lésions</div>
                    </div>
                </div>
                <span class="label label-danger text-center">NOTE!</span>
                <span class="text-danger"> Pour sélectionner multiple choix (Il faut maintenez la touche Maj enfoncée pour en sélectionner plusieurs):</span>
                </br>


                <div class="form-row">
                    <div class="form-group col-md-12">

                        <div class="form-group col-md-5">
                            <div class="example">

                                <img src="{{asset ('theme/img/siege_lesion.png')}}" alt="">
                            </div>
                        </div>



                        <div class="form-group col-md-3">
                            <br> <br>
                            <br> <br>

                            <div class="example">

                                {{ form_widget(form.siege_lesion)}}

                            </div>

                        </div>
                        <div class="form-group col-md-4">
                            <div class="example">

                                <img src="{{asset ('theme/img/siege_lesionnn.png')}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>







                <br>
                <div colspan="4"class="alert alert-primary text-center ">Facteurs pouvant contribuer à la survenue de l'accident</div>
                <div class="chat-room">
                    <span class="label label-danger text-center">NOTE!</span>
                    <span class="text-danger"> Pour sélectionner multiple choix (Il faut maintenez la touche Maj enfoncée pour en sélectionner plusieurs):</span>
                </div>
                <br>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="example">

                            <label  class="col-lg-5 col-form-label">Lieu (environnement):</label>
                            {{ form_widget(form.environnement)}}
                        </div>

                    </div>

                    <div class="form-group col-md-6">
                        <div class="example">
                            <label class="col-lg-4 col-form-label">Organisation: </label>
                            {{ form_widget(form.organisation)}}
                        </div>
                    </div>

                </div>
                <br>
                <div colspan="4"class="alert alert-primary text-center ">Déroulement de l'accident </div>

                <div class="form-group col-md-10">
                    <div class="example">

                        <label class="col-lg-8 col-form-label">description: <span class="text-danger">*</span></label>
                        {{ form_widget(form2.description, {'attr':{'class':'form-control',  'placeholder': " description de l'accident"}})}}
                    </div>
                </div>
                <br>

                <br>

                <div class="form-group col-md-10">
                    <div class="example">

  <label class="col-lg-8 col-form-label">cause: <span class="text-danger">*</span></label>

{{ form_widget(form2.cause, {'attr':{'class':'form-control',  'placeholder': "cause de l'accident"}})}}
</div>

<br>
                    <br>

<div class="row justify-content-center">

    <div class="col-lg-3 centered">
        <button type="submit" class="btn btn-success btn-lg mb-1 mx-auto z-depth-5 btn-rounded {{ button_label|default('AJOUTER') }}"class= text-white title="Ajouter">
            <i class="fa fa-check"></i> AJOUTER</button>
        <button type="button" class="btn btn-danger btn-primary  btn-lg mb-1 mx-auto z-depth-5 btn-rounded ">
            <a href="{{ path('enquette/calendar') }}"class= text-white title="Annuler"><i class="fa fa-ban"></i>Annuler </a></button>
    </div>

    {{ form_widget(form2)}}
    {{ form_end(form) }}

</div>
            </div>
    </aside>
</div>
</div>
</div>

