{% extends 'base.html.twig' %}

{% block title %}Enquette{% endblock %}

{% block body %}
<div class="wrapper site-min-height" xmlns="http://www.w3.org/1999/html">
    <!-- page start-->
    <div class="chat-room mt">
        <div class="col-lg-12">
            <aside class="mid-side">


                <div class="chat-room">
                    <table class="table table-bordered" >
                        <tr>
                            <td rowspan="2"><img  class="centre" width="120" height="90" src="{{asset ('theme/img/logo.jpg')}}" alt="Enquete d'un Accident/incident de travail"> </td>
                            <td rowspan="3" >
                                <br><br>
                                <div class=" text-center profile-text">
                                    <h3>Enquete d'un Accident/incident de travail </h3>
                                </div>
                            </td>
                            <td>indice : {{ enquette.indice }}</td>
                        </tr>
                        <tr>
                            <td> Date <i class="mdi mdi-calendar-check"> :  {{ enquette.dateheuredeclaration ?enquette.dateheuredeclaration|date('Y-m-d H:i:s') : '' }}</i>
                            </td>
                        </tr>
                    </table>
                </div>
                <br>
                <div class="chat-room">
                    <div class="row justify-content-center">
                        <div>

                            <span class="label label-theme text-center">NOTE!</span>
                            <span>  important : l'enquete doit etre renseignée dans les 24 h qui quivent l'accident de travail</span>
                        </div>
                        <div>
                            <span class="label label-theme text-center">NOTE!</span>
                            <span> Si l’accident a fait d’autres victimes remplir un nouvel imprimé pour les autres victimes agents territoriaux</span>
                        </div>
                    </div>
                </div>

                <br>
                <div class="basic-form">
                    </br>
                    <div colspan="4"class="alert alert-primary text-center ">Victime</div>
                    <br>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label  class="col-lg-3 col-form-label">Matricule:<i class="mdi mdi-calendar-check"></i></label>
                            <div class="example">
                                <div class="col-lg-offset-2">{{ enquette.ids.getMatricule}}</div>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <div class="example">
                                <label  class="col-lg-3 col-form-label"> Poste:<i class="mdi mdi-calendar-check"></i></label>
                                <div class="col-lg-offset-2"> {{ enquette.ids.getIDPT.getNom}}</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 ">
                            <div class="example">
                                <label  class="col-lg-3 col-form-label "> Nom:<i class="mdi mdi-calendar-check"></i></label>
                                <div class="col-lg-offset-2">{{ enquette.ids.getNom}}</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="example">
                                <label  class="col-lg-3 col-form-label"> Prenom:<i class="mdi mdi-calendar-check"></i></label>
                                <div class="col-lg-offset-2"> {{ enquette.ids.getPrenom}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="basic-form">
                        </br>
                        <div colspan="4"class="alert alert-primary text-center "> Accident</div>
                        <br>





                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label  class="col-lg-3 col-form-label"> Refrence :<i class="mdi mdi-calendar-check"></i></label>
                                    <div class="example">
                                        <div class="col-lg-offset-2">{{ enquette.ida.ref}}</div>
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <div class="example">
                                        <label  class="col-lg-3 col-form-label"> lieu :<i class="mdi mdi-calendar-check"></i></label>
                                        <div class="col-lg-offset-2"> {{ enquette.ida.lieu}}</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 ">
                                    <div class="example">
                                        <label  class="col-lg-3 col-form-label "> Etablissement :<i class="mdi mdi-calendar-check"></i></label>
                                        <div class="col-lg-offset-2">{{ enquette.ida.etablissement}}</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="example">
                                        <label  class="col-lg-5 col-form-label">date heure de l'accident:<i class="mdi mdi-calendar-check"></i></label>
                                        <div class="col-lg-offset-2">  {{ enquette.ida.dateheureaccident?enquette.ida.dateheureaccident|date('Y-m-d H:i:s') : '' }}</div>
                                    </div>
                                </div>
                            </div>










                    <div colspan="4"class="alert alert-primary text-center ">Arrêt de travail</div>

                    <br>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="example">
                                <label  class="col-lg-4 col-form-label">Date , heure:<i class="mdi mdi-calendar-check"></i></label>
                                {{ enquette.datearret ?enquette.datearret|date('Y-m-d H:i:s') : '' }}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="example">
                                <label class="col-lg-6 col-form-label">Date prévue :<i class="mdi mdi-calendar-check"> </i></label>
                             {{ enquette.dateprevue ?enquette.dateprevue|date('Y-m-d H:i:s') : '' }}
                            </div>
                        </div>

                    </div>
                    <br>
                    <div colspan="4"class="alert alert-primary text-center ">Premiers soins</div>
                    <br>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="example">
                                <label  class="col-lg-6 col-form-label">premiers soins</label>
                                {{ enquette.premiersoins}}
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label  class="col-lg-6 col-form-label">date de premiers soins</label>
                            {{ enquette.datepremiersoins ?enquette.datepremiersoins|date('Y-m-d H:i:s') : '' }}
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-row">
                    <div class="form-group col-md-12">

                        <div class="form-group col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead >
                                    <tr>
                                        <div colspan="4"class="alert alert-danger text-center ">Nature des lésions et EPI porté(s) au moment de l’accident </div>
                                    </tr>
                                    </thead>
                                    <tr>
                                        <td>
                                                    <label class="col-lg-4 col-form-label">Nature lesion:</label>
                                        </td>
                                        <td>
                                                    {% for i in enquette.naturelesion%}
                                                        <li>{{ i }}</li>
                                                    {% endfor %}
                                        </td>
                                    <td>

                                                <label class="col-lg-3 col-form-label"> les Equipement:</label>
                                    </td>
                                        <td >

                                                {% for i in enquette.equipement %}
                                                    <li>{{ i }}</li>
                                                {% endfor %}

                                    </td>
                                    </tr>
                                </table>
                            </div>
                        </div>


                </br>

                <div class="form-group col-md-12">
                    <div class="example">
                        <div colspan="4"class="alert alert-danger text-center ">Sièges des lésions</div>
                    </div>
                </div>

                </br>


                <div class="form-row">
                    <div class="form-group col-md-12">

                        <div class="form-group col-md-5">
                            <div class="example">

                                <img src="{{asset ('theme/img/siege_lesion.png')}}" alt="">
                            </div>
                        </div>



                        <div class="form-group col-md-3">
                            <br> <br>
                            <br> <br>

                            <div class="example">


                                {% for i in enquette.siegelesion %}
                                    <li>{{ i }}</li>
                                {% endfor %}

                            </div>

                        </div>
                        <div class="form-group col-md-4">
                            <div class="example">

                                <img src="{{asset ('theme/img/siege_lesionnn.png')}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div colspan="4"class="alert alert-primary text-center ">Facteurs pouvant contribuer à la survenue de l'accident</div>

                <br>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="example">

                            <label  class="col-lg-5 col-form-label">Lieu (environnement):</label>
                            {% for i in enquette.environnement%}
                                <li>{{ i }}</li>
                            {% endfor %}

                        </div>

                    </div>

                    <div class="form-group col-md-6">
                        <div class="example">
                            <label class="col-lg-4 col-form-label">Organisation:</label>

                            {% for i in enquette.organisation%}
                                <li>{{ i }}</li>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <br>
                        <div colspan="4"class="alert alert-primary text-center ">Déroulement de l'accident </div>

                        <div class="form-group col-md-10">
                            <div class="example">

                                <label class="col-lg-8 col-form-label">description: <span class="text-danger">*</span></label>
                                {{ enquette.ida.description}}
                            </div>
                        </div>
                        <br>

                        <br>
                        <br>
                        <br>

                        <div class="form-group col-md-10">
                            <div class="example">

                                <label class="col-lg-8 col-form-label">cause: <span class="text-danger">*</span></label>
                                {{ enquette.ida.cause}}

                            </div>
                        </div>
                    </div>
                </div>

<div class="centered">
    {%  if is_granted('ROLE_RHSE') %}
                        <div class="col-lg-3">
                            <br> <br>
                            <button type="button" class="btn btn-theme03 btn-primary  btn-lg mb-1 mx-auto z-depth-5 btn-rounded ">
                                <a href="{{ path('enquette_edit', {'id': enquette.id}) }}"class= text-white title="Modifier"><i class="fa fa-reply"></i> Modifier</a></button>
                        </div>
    {%  endif %}
                        <div class="col-lg-5">
                            <br>  <br>
                            <button class="btn btn-default btn-theme02 btn-lg" onclick="window.print();"> imprimer  <i class="fa fa-print"></i></button>
                        </div>
                        <div class="col-lg-offset-2">
                            <br><br>
                            <button type="button" class="btn btn-dark btn-primary  btn-lg mb-1 mx-auto z-depth-5 btn-rounded ">
                                <a href="{{ path('enquette/calendar') }}"class= text-white title="retour a la liste"><i class="fa fa-reply"></i> Retour a la liste </a></button>
                        </div>

</div></div>


                </div>
                </div>
            </aside>
        </div>
    </div>
</div>

{% endblock %}
