<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>{% block title %} hello{% endblock %}
        {% block stylesheets %}{% endblock %}</title>

    <!-- Custom Stylesheet -->
    <link href="{{asset('theme/css/style.css') }}" rel="stylesheet">

    <!-- Favicons -->
    <link href="{{asset('theme/img/apple-touch-icon.png')}}" rel="apple-touch-icon">
    <link href="{{asset('theme/img/favicon.png')}}" rel="icon">

    <!-- Bootstrap core CSS -->
    <link href="{{asset('theme/lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!--external css-->
    <link href="{{asset('theme/lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
    <link rel="{{asset('theme/stylesheet')}}" type="text/css" href="{{asset('theme/css/zabuto_calendar.css')}}">

    <link rel="stylesheet" type="text/css" href="{{asset('theme/lib/gritter/css/jquery.gritter.css')}}" />
    <!-- Custom styles for this template -->
    <link href="{{asset('theme/css/style.css')}}" rel="stylesheet">
    <link href="{{asset('theme/css/style-responsive.css')}}" rel="stylesheet">
    <script src="{{asset('theme/lib/chart-master/Chart.js')}}"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="{{asset('theme/lib/file-uploader/css/jquery.fileupload.css')}}">
    <link rel="stylesheet" href="{{asset('theme/lib/file-uploader/css/jquery.fileupload-ui.css')}}">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript>
        <link rel="stylesheet" href="{{asset('theme/lib/file-uploader/css/jquery.fileupload-noscript.css')}}">
    </noscript>
    <noscript>
        <link rel="stylesheet" href="{{asset('theme/lib/file-uploader/css/jquery.fileupload-ui-noscript.css')}}">
    </noscript>

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    {% endblock %}
    <!-- =======================================================
      Template Name: Dashio
      Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->

</head>

<body>
<section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->

    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="index.html" class="logo"><b>mede<span>cin</span></b></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
                <!-- settings start -->

                <!-- settings end -->
                <!-- inbox dropdown start-->


            </ul>
            <!--  notification end -->
        </div>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="{{ path('fos_user_security_login') }}">Logout</a></li>
            </ul>
        </div>
    </header>

    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">


                <li class="sub-menu">
                    <a href="javascript:;">
                    </a>



                </li>
                {%  if is_granted('ROLE_SUPER_ADMIN') %}
                <p class="centered"><a href="{{ path('fos_user_profile_show') }}"><img src="{{ asset('uploads/images/' ~ app.user.getPhoto) }}" class="img-circle" width="80"></a></p>
                <h5 class="centered">{{ app.user.username }}</h5>
                    <li><a href={{ path('homepage') }} aria-expanded="false" >
                            <i class="fa fa-home"></i><span >Accueil</span>
                        </a>
                    </li>





                    <li>
                        <a href={{ path('re_index') }} aria-expanded="false">
                            <i class="  fa fa-user-o"></i><span> Re</span>
                        </a>

                    </li>

                <li>
                    <a href={{ path('entreprise_index') }} aria-expanded="false">
                        <i class="  fa fa-user-o"></i><span> Liste des entreprises </span>
                    </a>

                </li>

                {%  elseif is_granted('ROLE_MEDECIN') %}

                    <p class="centered"><a href="{{ path('fos_user_profile_show') }}"><img src="{{ asset('uploads/images/' ~ app.user.getPhoto) }}" class="img-circle" width="80"></a></p>
                    <h5 class="centered">{{ app.user.username }}</h5>
                    <li><a href={{ path('homepage') }} aria-expanded="false">
                            <i class="fa fa-home"></i><span >Accueil</span>
                        </a>
                    </li>


                <li>
                    <a href={{ path('dossier_medical_index') }} aria-expanded="false">
                        <i class="  fa fa-id-card"></i><span > les dossiers médical </span>
                    </a>

                </li>
                <li>
                    <a href={{ path('enquette/calendar') }} aria-expanded="false">
                        <i class=" fa fa-align-justify"></i><span > les Enquêtes </span>
                    </a>

                </li>
                <li>
                    <a href={{ path('visite_index') }} aria-expanded="false">
                        <i class=" fa fa-align-justify"></i><span> les visites </span>
                    </a>

                </li>
                    <li>
                        <a href={{ path('salarie_index') }} aria-expanded="false">
                            <i class=" fa fa-align-justify"></i><span> les salaries </span>
                        </a>

                    </li>
                {%  elseif  is_granted('ROLE_RE') %}
                    <p class="centered"><a href="{{ path('fos_user_profile_show') }}"><img src="{{ asset('uploads/images/' ~ app.user.getPhoto) }}" class="img-circle" width="80"></a></p>
                    <h5 class="centered">{{ app.user.username }}</h5>
                    <li><a aria-expanded="false">
                            <i class="fa fa-home"></i><span >Accueil</span>
                        </a>
                    </li>
                <li>
                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <i class=" fa fa-user-circle-o"></i><span > Les intervenants</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="{{ path('medecin_index') }}"><i class=" fa fa-user-md"></i> Médecins</a></li>
                        <li><a href="{{ path('rhse_index') }}"> <i class="fa fa-user"></i> RHSE</a></li>
                    </ul>
                </li>
                {%  elseif  is_granted('ROLE_RHSE') %}
                    <p class="centered"><a href="{{ path('fos_user_profile_show') }}"><img src="{{ asset('uploads/images/' ~ app.user.getPhoto) }}" class="img-circle" width="10"></a></p>
                    <h5 class="centered">{{ app.user.username }}</h5>
                    <li><a href={{ path('homepage') }} aria-expanded="false" >
                            <i class="fa fa-home"></i><span >Accueil</span>
                        </a>
                    </li>
<li>
                <a href="{{ path('poste_de_travail_index') }}" aria-expanded="false">
                    <i class=" fa fa-align-justify"></i><span > Liste des postes</span>
                </a></li>
                <li>
                    <a href="{{ path('risque_index') }}">
                        <i class="fa fa-exclamation-triangle"></i><span> Risque</span>
                    </a>
                </li>



                <li>
                    <a href="{{ path('accident_index') }}" aria-expanded="false">
                        <i class=" fa fa-align-justify"></i><span> Liste des accidents</span>
                    </a>

                </li>

                <li>
                    <a href={{ path('enquette/calendar') }} aria-expanded="false">
                        <i class=" fa fa-align-justify"></i><span> les Enquêtes </span>
                    </a>

                </li>
                <li>
                    <a href={{ path('salarie_index') }} aria-expanded="false">
                        <i class="  fa fa-user-o"></i><span> Liste des salaries</span>
                    </a>

                </li>
                {% else %}





                <li>
                    <a href="{{ path('entreprise_index') }}">
                        <i  class=" fa fa-users "></i> <span > Les entreprises</span>
                    </a>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <i class=" fa fa-user-circle-o"></i><span > Les intervenants</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="{{ path('medecin_index') }}"><i class=" fa fa-user-md"></i> Médecins</a></li>
                        <li><a href="{{ path('rhse_index') }}"> <i class=" fa fa-user"></i> RHSE</a></li>
                    </ul>
                </li>

<li>
                <a href={{ path('poste_de_travail_index') }} aria-expanded="false">
                    <i class="fa fa-align-justify"></i><span> Liste des postes</span>
                </a>
</li>
                <li>
                    <a href="{{ path('risque_index') }}">
                        <i class="fa fa-exclamation-triangle"></i><span > Risque</span>
                    </a>
                </li>



                <li>
                    <a href="{{ path('accident_index') }}" aria-expanded="false">
                        <i class="fa fa-align-justify"></i><span> Liste des accidents</span>
                    </a>

                </li>

                <li>
                    <a href={{ path('enquette/calendar') }} aria-expanded="false">
                        <i class=" fa fa-align-justify"></i><span> les enquetes</span>
                    </a>

                </li>
                <li>
                    <a href={{ path('salarie_index') }} aria-expanded="false">
                        <i class=" fa fa-user-o"></i><span > Liste des salaries</span>
                    </a>

                </li>
                <li>
                    <a href={{ path('dossier_medical_index') }} aria-expanded="false">
                        <i class="  fa fa-id-card"></i><span > les dossiers médical </span>
                    </a>

                </li>
                {% endif %}


            </ul>

        </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">


                    <!--CUSTOM CHART START -->

          {% block body %}
            {%  if is_granted('ROLE_SUPER_ADMIN') %}

                <br> <br>

                <div class="alert-info" role="alert">
                    <br>
                    <div class="centered">
                        <h1>      Accueil  </h1></div>
                    <br>
                </div>




                <h3 ><font size="7" face="Georgia, Arial" color="#dc143c">B</font> ienvenue   {{ app.user.username }} dans votre espace <br> Veuillez utiliser la barre de navigation ci_contre
                    <img src="https://img.icons8.com/color/48/000000/manager.png"height="40" /></h3>






            {%  elseif is_granted('ROLE_RHSE') %}
                <br> <br>

                <div class="alert-info" role="alert">
<br>
                   <div class="centered">
                    <h1>      Accueil  </h1></div>
                    <br>
                </div>




                <h3 ><font size="7" face="Georgia, Arial" color="#dc143c">B</font> ienvenue   {{ app.user.username }} dans votre espace <br> Veuillez utiliser la barre de navigation ci_contre
                    <img src="https://img.icons8.com/color/48/000000/manager.png"height="40" /></h3>


            {%  elseif is_granted('ROLE_MEDECIN') %}
                <br> <br>

                <div class="alert-info" role="alert">
                    <div class="centered">
                    <h1> accueil  </h1>
                    </div>

                </div>




                <h3 ><font size="7" face="Georgia, Arial" color="#dc143c">B</font> ienvenue  D.r   {{ app.user.username }} dans votre espace <br> Veuillez utiliser la barre de navigation ci_contre
                    <img src="https://img.icons8.com/color/48/000000/doctor-male--v1.png" height="40"/></h3>
            {%  elseif is_granted('ROLE_RE') %}
                <br> <br>

                <div class="alert-info" role="alert">
                    <br>
                    <div class="centered">
                        <h1>      Accueil  </h1></div>
                    <br>
                </div>




                <h3 ><font size="7" face="Georgia, Arial" color="#dc143c">B</font> ienvenue   {{ app.user.username }} dans votre espace <br> Veuillez utiliser la barre de navigation ci_contre
                    <img src="https://img.icons8.com/color/48/000000/manager.png"height="40" /></h3>
            {% endif %}
          {% endblock %}





</section>

    </section>


</section>

<script src="{{asset('theme/lib/bootstrap/js/bootstrap.min.js')}}"></script>
<script class="include" type="text/javascript" src="{{asset('theme/lib/jquery.dcjqaccordion.2.7.js')}}"></script>
<script src="{{asset('theme/lib/jquery.scrollTo.min.js')}}"></script>
<script src="{{asset('theme/lib/jquery.nicescroll.js')}}" type="text/javascript"></script>
<script src="{{asset('theme/lib/jquery.sparkline.js')}}"></script>
<!--common script for all pages-->
<script src="{{asset('theme/lib/common-scripts.js')}}"></script>
<script type="text/javascript" src="{{asset('theme/lib/gritter/js/jquery.gritter.js')}}"></script>
<script type="text/javascript" src="{{asset('theme/lib/gritter-conf.js')}}"></script>
<!--script for this page-->
<script src="{{asset('theme/lib/sparkline-chart.js')}}"></script>
<script src="{{asset('theme/lib/zabuto_calendar.js')}}"></script>
<script src="{{asset('theme/lib/file-uploader/js/vendor/jquery.ui.widget.js')}}"></script>
<!-- The Templates plugin is included to render the upload/download listings -->

</body>

</html>
